

.password-gate{
  position:relative;
  height:100vh; width:100vw;
  display:flex;
  align-items:center;
  justify-content:center;


  .form-area{
    position:relative;
    width:250px; height:auto;
    h1{
      width:100%;
      text-align:center;
      margin:0px 0px 15px 0px;
    }
    p{
      margin:0px 0px 15px 0px;
      text-align:center;
    }
    .error{
      margin:15px 0px 0px 0px;
    }
    form{
      width:100%;
      input{
        width: calc(100% - 32px);
        padding: 14px 16px 14px;
        background-color: $off-white;
        border-radius: 32px;
        outline: none;
        border: 2px solid $black;
        margin: 10px 0;
        font: 700 16px/16px $roboto;
        &:focus{
          background-color: $white;
        }
      }
      button{
        cursor:none !important;
        width: 100%;
        padding: 14px 16px 14px;
        border-radius: 32px;
        background-color: $black;
        color: $white;
        font: 700 16px/18px $roboto;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s ease-in-out;
        @include trans(0.2s);
        &:hover{
          @include trans(0.2s);
          color: $black;
          background-color: $off-white;
        }
      }
    }
  }
}