.profile{
  position:relative;
  height:100vh; width:100%;
  background-color:white;
  color:$black;
  .wrap{
    height:100%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;

    h3{
      width:85%;
      text-align:left;
    }
  }
}