.profile{
  position: relative;
  height: 100vh;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
  z-index:1;
  background-color:$white;
  h3{
    position: relative;
    display: block;
    width: 70%;
    color:$black;
    margin:0px;
  }
}