.case-study{

  .splash-screen{
    position: relative;
    width: 100vw; height:100vh;
    background: $white;
    display:flex;
    align-items: center;
    justify-content: flex-end;

    .intro-text{
      position:relative;
      width:90%;
      margin:0px auto;
      color:$black;
      span{
        display:block;
        height:80px;
        overflow:hidden;
        h1{
          font: 900 75px/80px $red_hat;
          text-align:right;
          transform:translateY(80px);
          @include breakpoint(1200px){
            font: 900 50px/56px $red_hat;
          }
          @include breakpoint(720px){
            font: 900 40px/46px $red_hat;
          }
          @include breakpoint(600px){
            font: 900 26px/36px $red_hat;
          }
        }
      }
    }

  }
  
}




