.theEnd{
  position:fixed;
  bottom:0px;
  height:70px; width:100%;
  border-top:1px solid $gray;
  background-color:$black;
  color:$white;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index:0;
  ul{
    padding:0px;
    margin:0px;
    list-style:none;
    display:flex;
    align-items: center;
    justify-content:center;
    background-color:$black;
    width:100%;
    li{
      text-align:left;
      margin:0px 30px 0px 0px;
      font: 400 24px/34px $red_hat;
      @include breakpoint(680px){
        font: 400 16px/20px $red_hat;
        margin:0px 15px 0px 0px;
      }
      @include breakpoint(500px){
        font: 400 14px/18px $red_hat;
        margin:0px 10px 0px 0px;
      }
      a{
        color:$white;
        @include trans(0.3s);
        &:hover{
          color:$color;
          @include trans(0.3s);
        }
      }
      
    }
  }
}